<footer class="block block--dark footer">
  <div class="container grid">
    <section class="footer__section collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--white icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">WordPress Hosting</a></li>
          <li><a href="#">Free Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
          <li><a href="#">Mounthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="footer__section collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--white icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        WordPress Hosting <br />
        Free Automated WordPress <br />
        Migrations <br />
        Domain Names <br />
        Mounthly Web Hosting <br />
      </div>
    </section>

    <section class="footer__section collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--white icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        WordPress Hosting <br />
        Free Automated WordPress <br />
        Migrations <br />
        Domain Names <br />
        Mounthly Web Hosting <br />
      </div>
    </section>

    <section class="footer__section collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <svg class="icon icon--white icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        WordPress Hosting <br />
        Free Automated WordPress <br />
        Domain Names <br />
        Mounthly Web Hosting <br />
      </div>
    </section>
    <section class="footer__logo">
      <a class="nav__brand" href="/"><img src="icons/logo.svg" alt="" /></a>
      <p class="footer__p">Copyright &copy; 2020 mosh</p>
    </section>
  </div>
</footer>
